import { Construct } from "constructs";
import { CertificateStack, CertificateStackProps } from "@itzworking/cdk";

export class <%= stackName %>Stack extends CertificateStack {
  constructor(scope: Construct, id: string, props: CertificateStackProps) {
    super(scope, id, props);
  }
}
