{
  "name": "all",
  "$schema": "../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "apps/all",
  "projectType": "application",
  "targets": {
    "deploy": {
      "executor": "@itzworking/nx-cdk:deploy",
      "options": {}
    },
    "destroy": {
      "executor": "@itzworking/nx-cdk:destroy",
      "options": {}
    },
    "export-apis": {
      "executor": "@itzworking/nx-cdk:export-apis",
      "options": {}
    }
  }
}
