import { Construct } from "constructs";
import { StatelessStack, StatelessStackProps } from "@itzworking/aws-cdk";

export class <%= stackName %>Stack extends StatelessStack {
  constructor(scope: Construct, id: string, props: StatelessStackProps) {
    super(scope, id, props);
  }

  getSrcFolderPath(): string {
    return `${__dirname}/src`;
  }
}
